/colourful-travels/colourful-travels.xcodeproj
/colourful-travels/config.make
/colourful-travels/Makefile
/colourful-travels/openFrameworks-Info.plist
/colourful-travels/Project.xcconfig
/colourful-travels/bin/colourful-travelsDebug.app/*
/colourful-travels/.DS_Store
/.DS_Store